<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body style="margin: 0">
    <table
      style="
        background-image: url('<%= path %>/static/image/git_bg.png');
        background-size: cover;
        padding: 40px 5vw;
        width: 100%;
      "
    >
      <tr>
        <td align="center">
          <img
            src="<%= path %>/static/image/logo.png"
            style="z-index: 5; width: 15vw; top: 10px; right: 5px"
            alt="background-img"
          />
        </td>
      </tr>

      <tr bgcolor="white">
        <td style="color: black; padding: 30px 30px">
          <div>
            <code>
              <h2>
                Dear Developer,<br /><br />
                It's a wrap for "GIT Committed" and we would like to Thank You
                for participating in this workshop. We hope you got to learn
                something and for more such events/workshops be sure to follow us
                on the social handles mentioned below. Also, don't forget to get
                your certificates that we have attached with this mail and for
                any queries please contact us at our instagram handle.

                <br /><br />
                Instagram:
                <a href="https://www.instagram.com/androidvitc/" target="_blank"
                  >Link</a
                >
                <br />
                LinkedIn:
                <a
                  href="https://www.linkedin.com/company/android-club-vitc/"
                  target="_blank"
                  >Link</a
                >
                <br />
                Website:
                <a href="https://androidclubvit.com" target="_blank">Link</a>
                <br /><br /><br />Keep Hacking,<br /><br />
                - Android Club VITC
              </h2>
            </code>
          </div>
        </td>
      </tr>
      <tr>
        <img
          src="<%= path %>/static/image/git_logo.png"
          style="z-index: 5; width: 15vw; top: 10px; right: 5px"
          alt="background-img"
        />
      </tr>
    </table>
  </body>
</html>
