<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body style="margin: 0">
    <table
      style="
        background-image: url('<%= path %>/static/image/git_bg.png');
        background-size: contain;
        padding: 40px 20px;
        width: 100%;
      "
    >
      <!-- <img
      src="cid:git_bg"
      style="position: absolute; z-index: 1; height: 100vh; width: 100vw"
      alt="background-img"
    /> -->
      <tr>
        <th>
          <img
            src="<%= path %>/static/image/logo.png"
            style="z-index: 5; width: 15vw; top: 10px; right: 5px"
            alt="background-img"
          />
        </tr>
    </th>
      <tr>
        <th>
            <a target="_blank" href="https://calendar.google.com/event?action=TEMPLATE&amp;tmeid=NHJob2ZudjdrODFuYjVoMmNjcGgxcWJxMWwgY19rZzFpYmtsNHBpcHRkYWUxdTV1OHZlc2k3MEBn&amp;tmsrc=c_kg1ibkl4piptdae1u5u8vesi70%40group.calendar.google.com"><img border="0" src="https://www.google.com/calendar/images/ext/gc_button1_en.gif"></a>        </th>
      </tr>
      <tr>
        <th>
          <div
            style="
              text-align: center;
              position: relative;
              z-index: 2;
              background-color: white;
              width: 100%;
              max-width: 55vw;
              padding: 40px;
              border-radius: 10px;
              box-shadow: 0 0 15px 1px rgb(0 0 0 / 40%);
            "
          >
            <i>
            Dear <%= name %>,<br />
            Thank you for registering for the workshop. Save this email for
            later reference.<br />
            We've successfully received your registration for "GIT Commited" , a
            workshop on GIT tutorials by Mr.T V Sai Sankalp Reddy. <br /><br />
            Workshop date: 10th October 2021 <br />Workshop time: 2:00 PM - 4:00
            PM <br />Venue : Microsoft Teams Meeting link: <br />Teams code:
            <br />Operations Team @ Android Club VITC Kindly join the above link
            on time. <br /><br />Happy learning,</i>
        </div>
        </th>
      </tr>
      <tr>
        <img
            src="<%= path %>/static/image/git_logo.png"
            style="z-index: 5; width: 15vw; top: 10px; right: 5px"
            alt="background-img"
          />        
      </tr>
    </table>
  </body>
</html>
