<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body style="margin: 0">
    <table
      style="
        background-image: url('<%= path %>/static/image/git_bg.png');
        background-size: cover;
        padding: 40px 80px;
        width: 100%;
      "
    >
      <tr>
        <td align="center">
          <img
            src="<%= path %>/static/image/logo.png"
            style="z-index: 5; width: 15vw; top: 10px; right: 5px"
            alt="background-img"
          />
        </td>
      </tr>

      <tr bgcolor="white">
        <td style="color: black; padding: 30px 30px;">
          <div>
            <code>
              <h2>
                Dear <%= name %>,<br /><br />
                Thank you for registering for the workshop. "GIT Committed" is a
                workshop for demystifying GIT oraganized by Android Club VITC.
                <br /><br />Mr.T V Sai Sankalp Reddy, SDE at Air Asia will be
                joining us for the event, he will talk about why GIT is so
                important in terms of collaboration and simplify it for us.<br /><br />
                Workshop date: 10th October 2021 <br />Workshop time: 2:00 PM -
                4:00 PM <br />Venue : Microsoft Teams <br />
                Teams code: sccl9l2 <br />Meeting link:
                <a
                  href="https://teams.microsoft.com/l/channel/19%3aCosNAuN51nscoEUx6gJKT2_9Ah3I-IAzFw1Jsp8lIFM1%40thread.tacv2/General?groupId=d6b6b826-7869-4119-9546-49159cb37acd&tenantId=d4963ce2-af94-4122-95a9-644e8b01624d"
                  target="_blank"
                  >Link</a
                >
                <br /><br />Happy learning.
              </h2>
            </code>
          </div>
        </td>
      </tr>
      <tr>
        <img
          src="<%= path %>/static/image/git_logo.png"
          style="z-index: 5; width: 15vw; top: 10px; right: 5px"
          alt="background-img"
        />
      </tr>
    </table>
  </body>
</html>
