<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body style="margin: 0">
    <table
      style="
        margin: 0 auto;
        padding: 40px 10px;
        max-width: 550px;
        border: solid 1px #000;
      "
    >
      <tr bgcolor="white">
        <td style="color: black; padding: 10px 30px">
          <div>
            <code>
              <h1 style="color: skyblue;">
                Revelation 2021
              </h1>
            </code>
          </div>
        </td>
      </tr>
      <tr bgcolor="white">
        <td style="color: black; padding: 10px 30px">
          <div>
            <code>
              <h3>
                Hi, <br /><br />
                You have successfully registered to <%= event_name %> at Revelation 2021. 
                <br /><br /> Revelation is a 3-day
                long event brought to you by Android Club, don't forget to
                checkout more such events <a href="https://revelations.androidclubvit.com" target="_blank">here</a>. 

                <br />
                <br />
                - Android Club
              </h3>
            </code>
          </div>
        </td>
      </tr>
    </table>
  </body>
</html>
